@import url('../global.css');

.body-container {
    margin-left: 350px;
    padding-left: 2rem;
    margin-top: 2rem;
}

.card-wrapper {
    display: flex;
    margin-top: 2rem;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    border-radius: 1rem;
    border: solid 1px var(--primary-border);
    background-color: var(--menu-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 240px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.8rem;
}